
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="panel panel-default">
    <div class="panel-body" id="TextBox" style="min-height: 471px">
        @foreach (Group g in Model)
        {
            @foreach (Point p in g.Points)
            {
                @p.Context
            }
        }

        <br />
    </div>
</div>