@model Asp.Net_MVC.Models.Script


<div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Добавить скрипт</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            @Html.ValidationSummary()
            <div class="form-row">
                <div class="col-sm-6">
                    <form asp-action="CreateScript">
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Date" class="control-label"></label>
                            <input asp-for="Date" class="form-control" />
                            <span asp-validation-for="Date" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Count" class="control-label"></label>
                            <input asp-for="Count" class="form-control" />
                            <span asp-validation-for="Count" class="text-danger"></span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" formnovalidate class="e-control e-btn e-primary" onclick="addRoomSubmit()">
                <i class="fas fa-plus-circle"></i> Добавить
            </button>
        </div>
    </div>
</div>

