@model Asp.Net_MVC.Models.Script

<div class="modal-content">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
        <h4>Вы уверены что хотите удалить этот скрипт?</h4>
    </div>
    <div class="modal-body">
        <dl class="dl-horizontal">
            <dt>
                Название
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt>
                Дата
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Date)
            </dd>
            <dt>
                Количество чего-то
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Count)
            </dd>
        </dl>
    </div>
    <div class="modal-footer">
        <form asp-action="DeleteScript">
            <input type="hidden" asp-for="ScriptId" />
            <input type="submit" value="Delete" class="btn btn-default" />
        </form>
    </div>

</div>